name: Restrict PRs to Master

on:
  pull_request:
    branches:
      - master

jobs:
  check-branch:
    runs-on: ubuntu-latest
    
    steps:
      - name: Check source branch
        run: |
          if [ "$GITHUB_BASE_REF" != "master" ]; then
            echo "This action only runs when PR is to master."
            exit 1
          fi
          if [ "$GITHUB_HEAD_REF" != "develop" ]; then
            echo "Pull requests to 'master' can only originate from 'develop'."
            exit 1
          fi
      - name: Success
        run: echo "Pull request is from 'develop' to 'master'. Proceeding..."
